{
  "TOKEN": "NzgwNzkyMjMzNTMxODAxNjUx.GaZT3z.jFQatUoowa4olaa67jyziI-sfgMj6_tsuU2_H8",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
